.Book {
    /* background-color: #efefef;  CURRENTLY READING  */
    width: 205px;
    height: fit-content;
    margin: 1.5rem 1rem;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 8px -2px #000000; 
    box-shadow: 0px 0px 8px -2px #000000;
}
.bookImage {
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 275px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.content {
    padding: .75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.content > * {
    margin-bottom: .4rem;
    font-weight: 400;
}
.content h3 {
    color: #2e2e2e;
    font-size: 1.5rem;
    font-weight: 500;
}
.content h4 {
    color: #6f6b6b;
    font-size: 1.15rem;
}
.content h5 {
    color: #768d2f;
    font-size: .95rem;
}
.book-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .75rem;
}
.book-options h4 {
    color: #6f6b6b;
    font-weight: 500;
    cursor: pointer;
}
.book-options h4:hover {
    color: #768d2f;
}
.finish-btn {
    margin: 0;
    padding: .5rem;
    width: fit-content;
    font-size: 1.05rem;
    font-weight: 700;
    background-color: #2e2e2e;
    color: #f3f3f3;
}
.book-options svg:hover {
    color: #768d2f;
}